[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-autobot"]
	path = dotbot-autobot
	url = https://github.com/gwerbin/dotbot-autobot
[submodule "config/i3/i3-battery-popup"]
	path = config/i3/i3-battery-popup
	url = https://github.com/rjekker/i3-battery-popup
[submodule "config/espanso/user/espanso-package-date-utilities"]
	path = config/espanso/user/espanso-package-date-utilities
	url = https://github.com/kopach/espanso-package-date-utilities.git
[submodule "doom.d"]
	path = doom.d
	url = git@github.com:sonofhypnos/emacs-config.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "zsh/custom/zsh-wakatime"]
	path = zsh/custom/plugins/zsh-wakatime
	url = git@github.com:wbingli/zsh-wakatime.git
[submodule "zsh/custom/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/custom/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "intellimacs"]
	path = intellimacs
	url = https://github.com/MarcoIeni/intellimacs
