.projectile
config/evince/accels
jupyter/lab/workspaces/*
./bin/fziVpn
.gitsecret/keys/random_seed
!*.secret
config/espanso/match/private.yml
bin/liftOver
**/__pycache__
**/__init__.py
local/share/ranger/bookmarks
