[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-autobot"]
	path = dotbot-autobot
	url = https://github.com/gwerbin/dotbot-autobot
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "config/i3/i3-battery-popup"]
	path = config/i3/i3-battery-popup
	url = https://github.com/rjekker/i3-battery-popup
