[Unit]
Description=Borg Backup

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-inhibit --what=sleep:shutdown:idle --who="borg backup" --why="Backup in progress" /home/tassilo/bin/backup_data.sh
StandardOutput=append:/var/log/borg_backup.log
StandardError=append:/var/log/borg_backup.log

[Install]
WantedBy=multi-user.target
