[Unit]
Description=Set Ctrl Key to Act as Ctrl Key

[Service]
ExecStart=/usr/bin/setkeycodes e3 29
Type=oneshot

[Install]
WantedBy=multi-user.target
