[Unit]
Description=Writing Tracker Timer

[Timer]
Unit=writing_tracker.service
OnBootSec=30min
RandomizedDelaySec=5m

[Install]
WantedBy=timers.target
