[Unit]
Description=Writing Tracker

[Service]
Type=simple
ExecStart=/home/tassilo/repos/writing-tracker/writing-tracker.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
