[Unit]
Description=writing tracker

[Service]
Type=oneshot
ExecStart=/home/tassilo/repos/writing-tracker/writing-tracker.sh
User=tassilo

[Install]
WantedBy=default.target
