[Unit]
Description=Writing Tracker

[Service]
# Don't use retry for this file!
Type=simple
ExecStart=/home/tassilo/repos/writing-tracker/writing-tracker.sh

[Install]
WantedBy=default.target
