[Desktop Entry]
Type=Application
Exec=chromium --app=https://chatgpt.com
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=ChatGPT
Comment=Launch ChatGPT on startup
