[Desktop Entry]
Type=Application
Exec=/home/tassilo/bin/scratch_toggle.sh 'Emacs' 'emacsclient -c -a ""' 'Emacs'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Emacs Daemon
Comment=Start Emacs as a daemon
